body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  max-height: 100vh;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #3F5765;
}

a {
  color: #FF530D;
}



.mapContainer {
  width: 60vw;
  height: 50%;
}

.filter {
  height: 30vh;
  overflow: scroll;

}

.MainContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.sidebar {
  width: 34vw;
  padding: 30px 30px 15px 30px;
}


.jobCard {
  border: 1px solid #EFEFEF;
  margin-bottom: 10px;
  color: #EFEFEF;
}

.jobCards {
  overflow: scroll;
  height: 40vh;
  color: #BDD4DE;
}

footer {
  width: 100vw;
  height: 11vh;
  background-color: #2B3A42;
  color: #EFEFEF;
  display: flex;
  align-items: center;
}


.copyright {
  width: 600px;
  margin-left: 40px;
  margin-top: 0px;
}


.footerLinks{
  text-align: right;
  width: 100%;
}
.footerLinks p {
  display: inline;
  margin-right: 40px;
}
footer p {
  font-size: 1.4em;
  font-weight: 200;
}



h4, h3 {
  margin: 5px ;
}

header{
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #2B3A42;
  align-items: center;
  justify-content: space-between;
}

.links a {
  font-size: 1.4em;
  font-weight: 100;
  margin-right: 40px;
}

.svg {
  filter: invert(100%);
}

.svgSize1 {
  height: 14vh;
  margin-left: 3vw;
  margin-top: 1vh;
}

.svgSize2 {
  height: 7vh;
  margin-left: 3vw;
}

.svgSize3 {
  width: 50px;
}
