body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  max-height: 100vh;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;}

.mapContainer {
  width: 66vw;
  height: 50%;
}

.MainContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 0 0 70px;
}

.sidebar {
  max-width: 34vw;
}

h1 {

}

footer {
  width: 100vw;
  height: 9vh;
  background-color: gray;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
